.filter-wrapper__tabs-brands {
  height: 100vh;
  padding: 0 20px;
  width: 10%;
}

.filter-wrapper__list-brand {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-wrapper__item-brand {
  margin: 20px 0;
}

.filter-wrapper__item-brand button {
  background: none; 
  border-bottom: 1px solid #b49655;
  border: 0;
  color: black;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  outline: none;
  padding: 5px;
  transition: .9s;
  width: 80px;

  &:hover {
    border-bottom: 1px solid white;
    color: #c5a254;
    transition: .9s;
  }
}