.filter-wrapper__tabs-brands {
  padding: 0 20px;
  height: 100vh;
  width: 10%;
}

.filter-wrapper__list-brand {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-wrapper__item-brand {
  margin: 20px 0;
}

.filter-wrapper__item-brand button {
  background: none; 
  border: 0;
  color: black;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
}