.btn-register {
  color:  #b49655;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  text-decoration: none;
  
  &:hover {
    color: white;
    transition:  all 1s ease-in;
  }
}

.sing-in {
  border-right: 1.5px solid #8d7541;
}

