.herobanner {
  padding: 30px;
}

.herobanner__gallery-gif {
  position: relative;
  overflow: hidden;
  z-index: -1;
  columns: 3;
}

.herobanner__gallery-gif img {
  max-width: 100%;
  margin: 5px;
}

.herobanner__title {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 5rem;
  left: 0;
  letter-spacing: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 250px;
}

.btn-products {
  background: rgba(255, 255, 255, 0.522);
  border: 2px solid #b49655;
  box-shadow: 1px 1px 5px black;
  color: #b6944b;
  font-size: 2.5rem;
  font-weight: 700;
  left: 42%;
  letter-spacing: 4px;
  padding: 15px 30px;
  position: absolute;
  text-decoration: none;
  top: 450px;
}
