.display-prod {
  display: flex;
  align-items: start;
  padding: 40px 20px;
}

.wrapper-prod {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description {
  width: 30%;

  img {
    max-width: 100%;
  }

  p {
    font-family: Helvetica,Arial,sans-serif;
    color: #c5a254;
    font-size: 15px;
  }
}