.display-prod {
  align-items: flex-start;
  display: flex;
  padding: 40px 20px;
}

.wrapper-prod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
}

.description {
  width: 30%;

  img {
    max-width: 100%;
  }

  p {
    color: #c5a254;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
  }
}