.products-favorite {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
}

.wrapper-products{
  width: 80%;
  margin-right: 20px;
  h1{
    color: #c5a254;
    font-family: 'PT Sans Caption', sans-serif;
  }
}