.info-card {
  align-items: center;
  background: white;
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.info-card__wrapper-img{
  padding: 20px;
  width: 70%;
}

.info-card__img {
  display: block;
  margin: auto;
  max-width: 60%;
  object-fit: cover;
}

.info-card__wrapper-txt {
  padding: 20px;
  position: relative;
  width: 30%;
}

.info-card__name,
.info-card__model {
  color: #c5a254;
  font-family: 'PT Sans Caption', sans-serif;
}

.info-card__brand,
.info-card__description {
  font-size: 15px;
  font-family: Helvetica,Arial,sans-serif;
}

.info-card__description {
  width: 90%;
}

.info-card__price {
  color: #c5a254;
  font-size: 20px;
}

.info-card__come-back {
  position: absolute;
  right: 60px;
  top: 40px;
}

.info-card__btn-color {
  background: none;
  border: 0;
  columns: 2;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0;
  width: 120px;
  img {
    max-width: 100%;
  }
}

.info-card__btn-sizes {
  border: 1px solid #c5a254;
  color: #c5a254;
  margin: 10px 10px;
  padding:10px;
  font-size: 15px;
  background: none;
}