.card {
  margin: auto;
  padding: 20px;
  transition: 1s;
  width: 200px;
  
  &:hover {
    box-shadow: 2px 2px 10px black;
  }
}

.card__img {
  max-width: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 16px;
  margin: 10px 0;
}

.card__sub-title {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 10px 0;
  opacity: 0.9;
}

.card__price {
  color: #b49655;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  margin: 10px 0;
}