.wrapper-register{
  background: #0c0c0c; 
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-register {
  text-align: center;
  color: rgb(94, 94, 94);
  letter-spacing: 2px;
  margin: 0 0 60px 0;
}

.position-grid button {
  display: block;
  border-radius: 24px;
  color: white;
  background: none;
  margin: 35px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding:15px 15px;
  width: auto;
  outline: none;
  transition: 0.5s ease-in-out;
  width: 180px;
}

.position-grid button:focus {
  border-color: #2ecc71;
  width: 200px;
  margin: 35px auto;
  padding:15px 15px;
}

.position-grid{
  padding: 0%;
}

.wrapper-form {
  background: rgb(12, 12, 12);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

.title-login {
  text-align: center;
  color: rgb(94, 94, 94);
  letter-spacing: 2px;
  margin: 0 0 60px 0;
}

.close {
  border-radius: 50%;
  color: white;
  background: none;
  margin: 20px 20px;
  text-align: center;
  border: 2px solid #3498db;
  padding:15px 15px;
  width: auto;
  outline: none;
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.form-register {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.input-ui {
  display: block;
  border-radius: 24px;
  color: white;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding:15px 15px;
  width: auto;
  outline: none;
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  width: 180px;
}

.input-ui:focus {
  border-color: #2ecc71;
  width: 200px;
}

.input-send {
  border-radius: 24px;
  color: white;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding:15px 15px;
  width: auto;
  outline: none;
  transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  width: 180px;
}