.products-car {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.wrapper-products{
  width: 70%;
  margin-right: 20px;
  
  h1{
    color: #c5a254;
    font-family: 'PT Sans Caption', sans-serif;
  }
}

.summary {
  background: rgba(0, 0, 0, 0.837);
  display: grid;
  padding: 20px 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  grid-template-areas: "title title" 
                      "subtotal subnumber"  
                      "discount disnumber"
                      "total number"
                      "btn btn"  ;
  width: 30%;

  .StripeCheckout {
    grid-area: btn;
    margin: 20px 0;
  }

  h2 {
    font-size: 15px;
    font-weight: normal;
    opacity: .8;
    font-family: cursive;
    color: white;
  }

  span {
    color: #c5a254;
  }
}

.summary__title {
  font-size: 30px;
  grid-area: title;
  color: #c5a254;
}

.summary__summary--sub {
  grid-area: subtotal;
}

.summary__summary--disc {
  grid-area: discount;
}

.summary__summary--total {
  grid-area: total;
}

.subtotal {
  grid-area: subnumber;
}

.total {
  grid-area: number;
}

.discount {
  grid-area: disnumber;
}