.addCar {
  width: 140px;
  height: 70px;
  position: relative;
  margin: 20px 10px;
  background: none;
  box-shadow: 2px 2px 10px #c5a254;
  font-size: 17px;
  color: #c5a254;
  font-family: 'PT Sans Caption', sans-serif;
}
