.filter-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.filter-wrapper__title {
  color: #c5a254;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 3px;
}

.filter-wrapper__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-wrapper__item {
  margin: 5px 20px ;
}

.filter-wrapper__item button {
  background: none;
  border: 0;
  color: #c5a254;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  outline: none;
  &:active {
    color: black;
  }
}