.header {
  align-content: center;
  align-items: center;
  align-self: center;
  background: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px  #b49655;
  display: flex;
  justify-content: space-around;
  opacity: .85;
  overflow: hidden;
  position: relative;
}

.header__wrapper-jpg img {
  max-width: 70px;
  object-fit: cover;
  padding: 10px 0;
}

canvas {
  padding: 5px 0;
  position: absolute;
}

.header__canvas {
  left: -10px;
}

.header__canvas--second {
  right: -10px;
  transform: rotate(180deg)
}

.main {
  margin: 0 auto;
  max-width: 1300px;
}