
.wrapper-article-select {
  box-shadow: 0px 5px 6px #c5a254;
  display: flex;
  border: 0;
  justify-content: space-between;
  margin: 20px 0;
}

.wrapper-article-select__wrapper-img {
  width: 20%;
  padding: 20px;
}
.wrapper-article-select__image {
  max-width: 80%;
}

.wrapper-article-select__info {
  width: 60%;
  padding: 20px;
}

.wrapper-article-select__controls {
  width: 20%;
  padding: 20px;
}

.wrapper-article-select__info h3 {
  color: black;
  opacity: .7;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 17px;

  &:last-child {
    color: #c5a254;
  }
}

.wrapper-article-select__name {
  color: #c5a254;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
}

.wrapper-article-select__controls {
  padding: 10px;
  position: relative;
  button {
    background: none;
    color: #c5a254;
    border: 0;
    font-size: 30px;
    padding: 10px;
    width: 100px;
    position: absolute;
    right: 10px;
    top: 0px;
    outline: none;
  }

  span {
    color: #c5a254;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 25px;
  }
}