.wrapper-article-select {
  border: 0;
  border-bottom: 1px #c5a254 solid;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 30px;
  align-items: center;
  position: relative;
}

.wrapper-article-select__wrapper-img {
  width: 20%;
  padding: 20px;
}
.wrapper-article-select__image {
  max-width: 100%;
}

.wrapper-article-select__info {
  width: 60%;
  padding: 20px;
}

.wrapper-article-select__controls {
  width: 20%;
  padding: 20px;
}

.wrapper-article-select__info h3 {
  color: black;
  opacity: .7;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;

  &:last-child {
    color: #c5a254;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
  }
}

.wrapper-article-select__name {
  color: #c5a254;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
}

.wrapper-article-select__btn {
  display: block;
  background: none;
  color: #c5a254;
  border: 0;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  outline: none;
  position: absolute;
  right: 40px;
  top: 55px;
  border-bottom: 1px #c5a254 solid;
  cursor: pointer;
}

